name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch pytest pytest-cov ehtim

      - name: Run tests
        run: hatch run pytest --cov=ehteval

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      statuses: write
    needs: test  # Ensure docs are deployed only if tests pass
    if: ${{ success() }}  # Only run if the tests pass
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22  # Use a compatible Node.js version
          cache: 'npm'
        
      - name: Install npm
        run: npm install

      - name: Install npm dependencies
        run: npm ci

      - name: Build Docusaurus site
        run: npm run build

      - name: Deploy to GitHub Pages
        env:
          GITHUB_TOKEN: ${{ secrets.DOCUMENTER_KEY_2 }}
        run: |
          npm install -g docusaurus
          npm run deploy